:root {
    --light: rgb(241, 244, 248);
    --dark: rgb(33, 37, 41);
    --grey: rgb(66, 74, 82);
    --dark-yellow: rgb(255, 120,0);
}

html {
    height: 100%;
    display: block;
    min-width: max-content;
    max-width: 100%;
    min-height: 100%;
}

/*
Using max-content Firefox won't shrink the content when scaling
down the sidebar.
It works the best using fit-content.
On the other side, Chrome is shrinking the window at the smallest
size possible, wrapping the row even if there's enough space on screen.
While everything is somewhat readable, having everything in a single
column makes it less accessible/readable.
*/
@supports (-moz-appearance: none) {
    html{
        min-width: fit-content !important;
    }
}

html, body{
    margin:0;
}

body {
    min-height: 100% !important;
    max-width: 99%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    flex: 1 0 auto;
}

a {
    color: currentColor;
}

.mx-1{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

progress{
    accent-color: green;
}

.m-3 {
    margin: 0.5rem;
}

.me-1 {
    margin-right: 0.25rem;
}

.m-auto {
    margin: auto;
}

.mb-auto {
    margin-bottom: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mb-1{
    margin-bottom: 0.25rem !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 1rem;
}

.log {
    padding: 0.25rem;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    max-width: 50vh;
    max-height: 50vh;
    overflow-y: auto;
    text-align: start;
}

hr {
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.title {
    margin: 0;
    align-content: center;
    align-items: center;
}

.btn {
    .small {
        box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.2) !important;
        font-size: 0.5rem !important;
        padding: 0.25rem !important;
    }
    border: transparent;
    background: transparent;
    flex: 1 0 auto;
    width: fit-content;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    font-weight: bold;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    background: var(--dark-yellow);
    color: white;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}

.border-color {
    border: solid var(--dark-yellow);
    border-radius: 0.25rem;
}

.file-name {
    padding: 0.25rem;
}

.additional-options {
    text-align: start;
}

.text-muted {
    color: var(--grey);
}

.row {
    display: inline-flex;
    min-width: 100%;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-direction: row;
}

.col {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

#appSettings{
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    overflow-y: auto;
    flex-direction: column;
}

.progress-bar{
    min-width: 95%;
}

.form-checkbox {
    margin: 0.5rem;
}

label.checkbox-text {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.useful-links {
    margin-top:auto;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
}

.text-default {
    color: var(--dark);
}

.text-danger {
    color: #dc3545;
}

.bg-auto {
    background-color: var(--dark);
    color: var(--light);
}

.bg-danger {
    background-color: #dc3545;
}

.bg-success {
    background-color: #198754;
}

.bg-warning {
    background-color: #fd7e14;
}

.bg-debug {
    background-color: #0d6efd;
}

.d-none {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --grey: rgb(132, 148, 164);
    }

    .text-default {
        color: var(--light);
    }

    body {
        color: var(--light);
        background: var(--dark);
    }

    .btn {
        color: var(--light);
    }
}

